@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated) 
{
    <ul class="nav navbar-nav">
        
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + ((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.Email) + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
     
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
